<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InTheOffice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InTheOffice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <InTheOffice.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>An obese troll is wandering by your cubicle. She has something in her hand. Is it mail? Can you actually use your letter opener?</value>
            </setting>
            <setting name="Setting1" serializeAs="String">
                <value>"{name}, here is your invitation to the company pot luck! Bring something with butter!" she says.</value>
            </setting>
        </InTheOffice.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <InTheOffice.Properties.Settings>
            <setting name="Intro" serializeAs="String">
                <value>You are at your desk. It's a little weird that you have five highlighters that you've never used. You also see a letter opener, but you never get any letters. Your life is a Kafka moment, {name}.</value>
            </setting>
        </InTheOffice.Properties.Settings>
    </applicationSettings>
</configuration>